<div layout="column" layout-align="space-between start" ng-init="ctl.initialize()">
  <form flex layout="row" layout-fill layout-padding ng-submit="ctl.search($event)">
    <md-input-container layout-fill>
      <label>Search Term</label>
      <input ng-model="ctl.query" ng-keypress="ctl.search($event)" autofocus="autofocus"
                                                                   required="required">
    </md-input-container>
    <span flex></span>
    <md-button class="md-icon-button" type="submit">
      <md-icon>send</md-icon>
    </md-button>
  </form>
  <md-grid-list md-cols-gt-lg="8" md-cols-gt-md="6" md-cols-gt-sm="2" md-cols-sm="1"
                md-gutter-gt-sm="6px" md-gutter-gt-md="12px"
                md-row-height-gt-md="1:1" md-row-height="4:3">
    <md-grid-tile md-colspan-sm="1" md-colspan="2" md-rowspan="1"
                  ng-repeat="item in ctl.items">
      {{ item.title }}
    </md-grid-tile>
  </md-grid-list>
</div>
