/*ul {
  list-style: square url("sqpurple.gif");
}*/

.cases-tree-collapse-link {
  font-size: 20px;
  line-height: 1.5;
}

.cases-tree-collapse-link md-icon{
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}

.cases-tree-node-link {
  cursor: pointer;
}

md-dialog {
  width: 80%;
  height: 80%;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto
}

.opt-graph-title {
  font-size: 14px;
  color: #000;
  font-style: italic;
  text-decoration: underline;
}

.opt-graph-input{
  width: 25%;
  padding-right: 8%;
}