/*ul {
  list-style: square url("sqpurple.gif");
}*/

.cases-tree-collapse-link {
  font-size: 20px;
  line-height: 1.5;
}

.cases-tree-collapse-link md-icon{
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}

.cases-tree-node-link {
  cursor: pointer;
}

md-dialog {
  width: 80%;
  height: 80%;
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto
}

.opt-graph-title {
  font-size: 14px;
  color: #000;
  font-style: italic;
  text-decoration: underline;
}

.opt-graph-input{
  width: 25%;
  padding-right: 8%;
}

ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    width: 16%;
    position: fixed;
    height: 200%;
    overflow: hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

li a {
    width:100%;
    padding-left:10px;
    height:50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    color:#686868;
 
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

li a.active {
    background-color: #617d8b;
    color: white;
}

li a:hover:not(.active) {
    background:#efefef;
}

li a.iknoten {
    border-left:5px solid #617d8b;
}

li a.aknoten {
    border-left:5px solid #617d8b;
}

li a.kanten {
    border-left:5px solid #617d8b;
}

li a.physik {
    border-left:5px solid #617d8b;
}