md-grid-list {
  margin-bottom: 10%;
}
#dropZone {
  background: #FAFAFA;
  border: 2px dashed #DCDCDC;
  border-radius: 5px;
  line-height: 28px;
  height: 70vh;
  width: 100%;
}
.filename, .fileinfo {
  overflow: hidden;
  max-height: 2.5em;
}
.filename a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px rgb(107, 104, 104);
  font-weight: 500;
}
.thumbnail {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.pagePrev {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 0 0;
  height: 70vh;
}
.tag-item {
  background: #FFF none repeat scroll 0% 0%;
  margin: 15px;
  height: 50px;
}
md-grid-list md-grid-tile md-grid-tile-footer {
  background-color: rgba(0,0,0,.33);
}
md-input-container .md-input[disabled] {
  color: rgba(0, 0, 0, 0.87);
}
.sidebar {
  position: absolute;
  height: 95%;
  z-index: 1;
  width: 2em;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}
.sidebar.capture {
  height: 80%;
}
.sidebar-open {
  width: 33%;
  overflow-y: auto;
}
.md-icon-button.sidebar-btn {
  height: 32px;
  line-height: 32px;
  width: 32px;
  margin-left: -8px;
}
.md-icon-button.sidebar-btn-opened {
  height: 32px;
  line-height: 32px;
  width: 32px;
  float: right;
  margin-top: 8px;
}
.selectionBorder {
  outline: -webkit-focus-ring-color auto 5px;
}
#pdfViewerContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  /* Viewport-relative units */
  width: 95vw;
  -webkit-user-select: all;
}
#webViewer {
  display: block;
  /* iframes are inline by default */
  border: none;
  height: 100%;
  width: 99%;
}
#webCapture {
  display: block;
  /* iframes are inline by default */
  border: none;
  /* Reset default border */
  height: 85%;
  /* Viewport-relative units */
  width: 100%;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
  color: #607D8B;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #BDBDBD;
}
.tabContent {
  background-color: transparent;
}

.hover-button {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  visibility: hidden;
  border-radius: 50%;
}

.hover-button md-icon {
  color: white;
}

.doc-tile:hover .hover-button {
  visibility: visible;
  margin-right: -20px;
  margin-top: -20px;
  background: rgba(0,0,0,0.54);

}
