html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: none;
  -webkit-user-select: none;
}
div.md-toolbar-tools.windows-controls {
  height: 24px;
  padding-right: 10px;
  padding-left: 10px;
}
span.app-title {
  -webkit-user-select: none;
  cursor: default;
  font-family: "Segoe UI", "Arial";
  font-size: 12px;
  color: #ffffff;
}
.draggable {
  -webkit-app-region: drag;
  height: 100%;
}
md-toolbar .md-button:not(.selected) md-icon {
  color: #bdbdbd;
}
md-toolbar.md-whiteframe-z3 {
  min-height: 88px;
}
md-toolbar h1 {
  margin: auto;
  font-size: 1.25em;
  font-weight: 400;
}
a.md-icon-button.osx-control {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 0.5px;
  margin-left: 4px;
  margin-right: 4px;
  line-height: 0;
}
a.md-icon-button.osx-control svg {
  opacity: 0;
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
}
a.md-icon-button.osx-control:hover svg {
  opacity: 100;
}
a.md-icon-button.osx-control.close {
  background-color: #ff5f57;
  border-color: #e2463f;
}
a.md-icon-button.osx-control.close:active {
  background-color: #bf4943;
  border-color: #ad3934;
}
a.md-icon-button.osx-control.minimize {
  background-color: #ffbd2e;
  border-color: #e1a116;
}
a.md-icon-button.osx-control.minimize:active {
  background-color: #bf9123;
  border-color: #ad7d15;
}
a.md-icon-button.osx-control.fullscreen {
  background-color: #28c940;
  border-color: #12ac28;
}
a.md-icon-button.osx-control.fullscreen:active {
  background-color: #1f9a31;
  border-color: #128622;
}
a.md-icon-button.window-control.md-button {
  height: 24px;
  width: 24px;
  border-radius: 10%;
}
a.md-icon-button.window-control.md-button svg {
  width: 10px;
  height: 10px;
}
a.md-icon-button.window-control.md-button:active {
  background-color: rgba(255, 255, 255, .23);
}
a.md-icon-button.window-control.md-button:hover {
  transition: background-color 0.1s;
  background-color: rgba(255, 255, 255, .13);
}
a.md-icon-button.window-control.close.md-button:active {
  background-color: #f1707a;
}
a.md-icon-button.window-control.close.md-button:hover {
  transition: background-color 0.1s;
  background-color: #e81123;
}
#dropZone {
  background: #FAFAFA;
  margin: 15px;
  padding: 15px;
  border: 2px dashed #DCDCDC;
  border-radius: 5px;
  line-height: 34px;
  min-height: 128px;
}
.filename, .fileinfo {
  overflow: hidden;
  max-height: 2.5em;
}
.filename a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px rgb(107, 104, 104);
  font-weight: 500;
}
.hidden {
  visibility: hidden;
  position: absolute;
}
.md-48 {
  font-size: 48px;
}
.thumbnail {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.pagePrev {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
md-content[ui-view='content'], md-content[ui-view='module'] {
  min-height: 100%;
  height: 100%;
  min-width: 99%;
  width: 99%;
}
md-content[ui-view='content'] {
  padding: 20px;
  overflow: auto;
}
.timeline-badge {
  z-index: 1 !important;
}
.angular-center-container {
  background-color: rgba(0, 0, 0, 0.66);
}
.angular-centered h3 {
  color: white;
}
.tag-item {
  background: #FFF none repeat scroll 0% 0%;
  margin: 15px;
  height: 50px;
}
.md-icon-button.info-btn {
  float: right;
  margin: -6px 6px;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
md-input-container .md-input[disabled] {
  color: rgba(0, 0, 0, 0.87);
}
.sidebar {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 2em;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}
.sidebar-open {
  width: 33%;
  overflow-y: auto;
}
.md-icon-button.sidebar-btn {
  height: 32px;
  line-height: 32px;
  width: 32px;
  margin-left: -8px;
}
.md-icon-button.sidebar-btn-opened {
  height: 32px;
  line-height: 32px;
  width: 32px;
  float: right;
  margin-top: 8px;
}
.zoom-in-activated {
  cursor: zoom-in;
}
.zoom-out-activated {
  cursor: zoom-out;
}
.annotate-activated {
  cursor: crosshair;
}
.scrolling-activated {
  cursor: all-scroll;
}
.selected {
  border-color: #607D8B;
  border-width: 1px;
}
#pdfViewerContainer {
  overflow: auto;
  height: 80vh;
  /* Viewport-relative units */
  width: 95vw;
}
webview {
  display: block;
  /* iframes are inline by default */
  border: none;
  /* Reset default border */
  height: 80vh;
  /* Viewport-relative units */
  width: 95vw;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
  color: #607D8B;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #BDBDBD;
}
.tabContent {
  background-color: transparent;
}
