html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: none;
	-webkit-user-select: none;
}

md-toolbar .md-button:not(.selected) md-icon {
	color: #bdbdbd;
}

md-toolbar h1 {
	margin: auto;
	font-size: 1.25em;
	font-weight: 400;
}

#dropZone {
  background: #FAFAFA;
  margin: 15px;
	padding: 15px;
	border: 2px dashed #DCDCDC;
	border-radius: 5px;
	line-height: 34px;
	min-height: 128px;
}

.filename, .fileinfo {
	overflow: hidden;
	max-height: 2.5em;
}

.hidden {
	visibility: hidden;
	position:absolute;
}

.md-48 {
	font-size: 48px;
}

.pagePreview {
	width: 100%;
	object-fit: contain;
	height: auto;
}

md-content[ui-view='content'], md-content[ui-view='module'] {
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
}

md-content[ui-view='content'] {
	padding: 20px;
	overflow: auto;
}

.timeline-badge {
	z-index: 1 !important;
}
