md-autocomplete[md-floating-label].transparent-blur, .transparent-blur {
  background: rgba(255, 255, 255, 0.5) !important;
}
.sticky-top {
  overflow: hidden;
  position: fixed;
  left: 5%;
  width: 90%;
  z-index: 1;
  margin-top: 0.5em;
  font-size: 12px;
}


div.tree-nodes {
  margin-left: 0;
  padding-left: 1em;
}
div.tree-node button {
  padding: 0;
  margin: 0;
  min-width: 0;
}

.treeExpandable {
  cursor: pointer;
}

.treeNonExpandable {
  cursor: auto;
}
