<div layout="column" layout-align="center center" layout-fill ng-init="ctl.initialize()">
  <timeline layout-fill>
    <timeline-node ng-repeat="event in ctl.events" side="{{ event.direction }}">
      <timeline-badge class="{{ event.class }}">
        <md-icon ng-if="event.type === 'upload'">file_upload</md-icon>
        <md-icon ng-if="event.type === 'capture'">public</md-icon>
        <md-icon ng-if="event.type === 'delete'">delete</md-icon>
      </timeline-badge>
      <timeline-panel>
        <timeline-heading>
          <timeline-title layout-align="space-between start" layout="row" layout-fill>
            <span>{{ event.createdBy }}: {{ event.createdAt | date: 'medium' }}</span>
            <md-button class='md-icon-button info-btn'>
              <md-icon>info_outline</md-icon>
            </md-button>
          </timeline-title>
        </timeline-heading>
        <timeline-content>
          <p ng-if="event.type === 'upload'">Uploaded {{ event.files }} file(s)</p>
          <p ng-if="event.type === 'capture'">Captured Web Site <i>{{ event.details.title }}</i></p>
          <p ng-if="event.type === 'delete'">Removed Document <i>{{ event.details.title }}</i></p>
        </timeline-content>
      </timeline-panel>
    </timeline-node>
  </timeline>
</div>
