<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="capture.css"/>
	</head>
	<body>
		<webview id="content" nodeintegration></webview>
		<script id="capture-metadata" type="text/template">
			(function() {

				var _tag = document.querySelector("meta[name='parsely-page']");
				var _parsely = _tag ? JSON.parse(_tag.content) : null;

				var _title = document.querySelector("meta[property='og:title']") || document.querySelector("meta[name='title']") || document.querySelector("title");
				var _description = document.querySelector("meta[property='og:description']") || document.querySelector("meta[name='description']") || document.querySelector("description");
				var _url = document.querySelector("meta[property='og:url']") || document.querySelector("link[rel='canonical']");
				var _pubDate = document.querySelector("meta[property='article:published_time']") || document.querySelector("meta[name='date']");
				var _author = document.querySelector("meta[property='article:author']") || document.querySelector("meta[name='author']") || document.querySelector("meta[property='og:site_name']");
				var _tags = document.querySelectorAll("meta[property='article:tag']").length ? document.querySelectorAll("meta[property='article:tag']") : document.querySelector("meta[name='keywords']");

				var result = {
					title: _parsely ? _parsely.title : (_title ? (_title.content ? _title.content : _title.text) : ''),
					description: _description ? (_description.content ? _description.content : _description.text) : '',
					url: _parsely ? _parsely.link : (_url ? (_url.content ? _url.content : _url.href) : ''),
					publicationDate: _parsely ? _parsely.pub_date : (_pubDate ? _pubDate.content : ''),
					author: _parsely ? _parsely.author : (_author ? _author.content : ''),
					tags: _parsely ? _parsely.tags : _tags ? ( _tags.content ? _tags.content.split(/\s*,\s*/) : _tags.map((elem) => { return elem.content }) ) : []
				};

				var ipc = require('ipc');
				ipc.sendToHost(result);
			})();

		</script>
		<script>

			onload = function() {

				var ipc = require('ipc');
				var viewport = document.getElementById('content');
				var request = null;

				if(viewport) {

					viewport.addEventListener('ipc-message', function(evt) {
						var doc = evt.channel;
						var today = new Date();

						doc.id = request.name;
						doc.createdAt = today.toISOString();
						doc.url = (doc.url.length ? doc.url : request.url);
						doc.type = "website";
						ipc.send('capture-site-finished', doc);
					});

					viewport.addEventListener('did-finish-load', function() {
						viewport.executeJavaScript(document.getElementById('capture-metadata').innerText);
					});

					viewport.addEventListener('console-message', function(e) {
						console.log(e);
					});

					ipc.on('capture-site', function(arg) {
						request = arg;
						viewport.src = request.url;
					});
				}
			}
		</script>
	</body>
</html>
