
<div  ng-cloak ng-init="ctl.initialize()">
  <md-button class='md-icon-button ontology-sidebar-btn ontology-sidebar-btn-closed ontology-sidebar-right-btn-closed' ng-click="toggleSidebar('sidebar-right')">
    <md-icon>chevron_left</md-icon>
  </md-button>
  <md-sidenav class="md-sidenav-right md-whiteframe-8dp" md-component-id="sidebar-right" layout="column" md-disable-backdrop md-whiteframe="4">
    <h3 class="h3_title_entities">Focus</h3>
    <hr style="width: 100%">
    <ul>
      <li>
        <p><b>Selected node:</b> {{data.selectedNode.label}}</p>
      </li>
      <li>
        <p><b>Focused node:</b> {{data.focusedNode.label}}</p>
      </li>
      <li>

        <md-button class="md-raised-cases" ng-click="setFocus(this)" ng-disabled="isHidden('setFocus')">
          <i class="material-icons infoIcon">add_location</i>
          Set Focus
        </md-button>

        <div>
          <div class="nextLevelBtn">
            <md-button class="md-raised-cases" ng-model="data.level" ng-click="nextLevel(this)" ng-disabled="isHidden('nextLevel')">
              <i class="material-icons infoIcon">directions</i>
              Next Level
            </md-button>
          </div>
          <div class="nextLevelSlider">
            <md-slider-container class="opt-graph-input" ng-disabled="isHidden('nextLevel')">
              <md-icon md-svg-icon="device:brightness-low"></md-icon>
              <md-slider min="1" max="3" aria-label="Größe" flex md-discrete ng-model="data.level"></md-slider>
            </md-slider-container>
          </div>
        </div>

        <md-button class="md-raised-cases {{gradBtnHide}}" ng-click="releaseFocus()" ng-disabled="isHidden('releaseFocus')">
          <i class="material-icons infoIcon">cancel</i>
          Clear Focus
        </md-button>

        <!-- disabled for now
        <md-switch ng-model="physicsEnabled" layout-align="left center" aria-label="Switch 2" class="md-warn {{gradBtnHide}}" type="checkbox" ng-change="physicsOnOff()">
          <h5>Physik</h5>
        </md-switch>-->

        <md-button class="md-raised-cases"  ng-click="hideNode(this)" ng-disabled="isHidden('hideNode')">
          <i class="material-icons infoIcon">visibility_off</i>
         Hide Node
        </md-button>

        <hr style="text-align: left; width: 25%">

        <md-button class="md-raised-cases" ng-click="resetGraph()" ng-disabled="isHidden('resetGraph')">
          <i class="material-icons infoIcon">replay</i>
          Reset Graph
        </md-button>
      </li>
    </ul>
    <h3 class="h3_title_entities">Filter</h3>
    <hr style="width: 100%">
    <ul>
      <li ng-repeat="filter in data.filterData">
        <label>
          <input type="checkbox" ng-checked="filter.checked" ng-click="toggleFilter(filter.id)"/>
          {{filter.label}}
        </label>
        <md-input-container class="opt-graph-input" ng-if="filter.color">
          <input required md-no-asterisk  aria-label="Farbe" type="color" ng-model="filter.color" ng-change="colorChange(filter)">
        </md-input-container>
      </li>
    </ul>
  </md-sidenav>
</div>
