<div layout="column" ng-init="ctl.initialize()" ng-cloak>
  <md-input-container>
    <label for="name">Name</label>
    <input md-maxlength="30" md-minlength="5" required md-no-asterisk name="name" id="name" aria-label="name" ng-model="data.name" ng-blur="nameChanged()">
  </md-input-container>
  <md-input-container>
    <md-select placeholder="Select a type" ng-model="data.selectedClass" ng-change="typeChanged()" >
      <md-option value="{{class.identifier}}" ng-repeat="class in data.classes">{{label(class.identifier)}}</md-option>
    </md-select>
  </md-input-container>
  <md-button class="md-icon-button" ng-click="toggleShowRelationForm()" >
    <md-icon ng-show="!showRelationFormIsShown">expand_more</md-icon>
    <md-icon ng-show="showRelationFormIsShown">expand_less</md-icon>
  </md-button>
  <div layout-padding  ng-if="showRelationFormIsShown"  >
    <div layout="column" ng-show="showInstanceRelations()">
      <div ng-repeat="(index, rel) in data.instanceRelations" layout="row" layout-margin>
        <md-input-container flex="20">
          <input aria-label="Subject" type="text" value="{{label(rel.subject)}}" readonly></input>
        </md-input-container>
        <md-input-container flex="20">
          <input aria-label="Predicate" type="text" value="{{label(rel.predicate)}}" readonly></input>
        </md-input-container>
        <md-input-container flex="20">
          <input aria-label="Object" type="text" value="{{label(rel.object)}}" readonly></input>
        </md-input-container>
        <md-input-container>
          <md-button ng-click="removeRelation(index)" type="button">
            Remove
          </md-button>
        </md-input-container>

      </div>
    </div>
    <div layout="row" layout-margin>
      <md-input-container flex="20">
        <input type="text" ng-model="data.name" readonly></input>
      </md-input-container>
      <md-input-container flex="20">
        <md-select placeholder="Select a property" ng-model="data.selectedProperty" ng-change="propertyChanged()" layout-fill>
          <md-option value="{{prop.property}}" ng-repeat="prop in data.properties1">{{label(prop.property)}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="20">
        <md-select placeholder="Select an instance" ng-model="data.selectedInstance" ng-change="instanceChanged()" layout-fill>
          <md-option  value="{{inst.subject}}" ng-repeat="inst in data.instances">{{label(inst.subject)}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <md-button ng-click="addRelation()" type="button" ng-disabled="!addRelationButtonEnabled()">
          Add
        </md-button>
      </md-input-container>
    </div>
  </div>


</div>

