<md-content>
  <section>
    <md-subheader class="md-primary expandable" ng-click="$ctrl.hideList1 = !$ctrl.hideList1">Entities</md-subheader>
    <ontology-tree ng-hide="$ctrl.hideList1"
                   tree-data="$ctrl.classIndividualsData"
                   node-children="individuals"
                   node-label="name"></ontology-tree>
  </section>
  <section>
    <md-subheader class="md-primary expandable"  ng-click="$ctrl.hideList2 = !$ctrl.hideList2">Cases</md-subheader>
    <ontology-tree
                   ng-hide="$ctrl.hideList2"
                   tree-data="$ctrl.caseData"
                    node-label="name"></ontology-tree>
  </section>
  <section>
    <md-subheader class="md-primary expandable"  ng-click="$ctrl.hideList3 = !$ctrl.hideList3">Nodes with multiple Cases</md-subheader>
    <ontology-tree
      ng-hide="$ctrl.hideList3"
      tree-data="$ctrl.multipleCaseData"
      node-label="name"></ontology-tree>
  </section>
</md-content>
