<div class="statusLine animated fadeInUp" layout="column" layout-fill ng-cloak ng-init="ctl.initialize()">
  <md-divider layout-fill layout-padding></md-divider>
  <div layout-fill layout="row" ng-if="ctl.document.meta.author !== undefined">
    <span><b>Selected Node(s)</b></span>
    <span flex></span>
    <!-- <small>{{ ctl.document.meta.datePublished | date: 'short' }}</small>-->
  </div>
  <!--  <span>{{ ctl.document.meta.headline }}</span>
    <span>{{ ctl.document.meta.description }}</span>-->
</div>
