<div flex layout-fill layout="column" ng-cloak ng-init="ctl.initialize()">
  <md-autocomplete class="sticky-top transparent-blur"
                   md-input-minlength="2"
                   md-input-maxlength="18"
                   md-selected-item="ctl.query"
                   md-search-text="ctl.searchText"
                   md-items="item in ctl.findTerm(ctl.searchText)"
                   md-item-text="item.label"
                   md-selected-item-change="ctl.search()"
                   md-floating-label="Search Term">
   <md-item-template>
     <span md-highlight-text="ctrl.searchText">{{ item.label }}</span>
   </md-item-template>
  </md-autocomplete>
  <md-content class="sidebar" layout-padding layout-sm="column" layout-wrap layout="column">
    <md-button class='md-icon-button sidebar-btn' ng-click="ctl.openSidebar()" ng-if="!ctl.sidebarOpened">
      <md-icon>chevron_right</md-icon>
    </md-button>
    <div ng-if="ctl.sidebarOpened">
      <div layout-align="space-between start" layout="row" layout-fill>
        <h3>{{ ctl.ontology.label }}</h3>
        <md-button class='md-icon-button sidebar-btn-opened' ng-click="ctl.closeSidebar()">
          <md-icon>chevron_left</md-icon>
        </md-button>
      </div>
      <md-input-container layout-fill>
        <label>Title</label>
        <textarea ng-model="ctl.ontology.title" readonly></textarea>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Description</label>
        <textarea ng-model="ctl.ontology.comment" readonly></textarea>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Author</label>
        <input ng-model="ctl.ontology.creator" readonly></input>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Version</label>
        <input ng-model="ctl.ontology.version" readonly></input>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Selected Element</label>
        <input ng-model="selectedElement.label" readonly></input>
      </md-input-container>
      <md-input-container layout-fill>
        <label>Description</label>
        <input ng-model="selectedElement.title" readonly></input>
      </md-input-container>
    </div>
  </md-content>
  <div id="ontology-graph" flex layout-fill></div>
</div>
