<div class="tree tree-nodes">
  <div data-ng-include="'tree-node.html'"  data-ng-repeat="node in $ctrl.treeNodes"  data-ng-controller="TreeNodeController"></div>
</div>
<script type="text/ng-template" id="tree-node.html">
  <div class="tree-node" layout="row" layout-align="start center">
    <md-truncate  class="md-body-1"   ng-click="toggleExpanded()" ng-class="{treeExpandable: node.children.length > 0, treeNonExpandable:  node.children.length === 0}">
      <md-tooltip>{{node.label}}</md-tooltip>
      {{node.label}} <span data-ng-show="node.children.length > 0">({{node.children.length}})</span>
    </md-truncate>
    <md-button class="md-default md-no-ink" ng-click="$parent.onNodeClicked({id: node.id})" aria-label="Click on node" >
      <md-icon>add_circle_outline</md-icon>
    </md-button>
  </div>
  <div class="tree-nodes" data-ng-if="node.expanded === true">
    <div data-ng-include="'tree-node.html'" data-ng-repeat="node in node.children" data-ng-controller="TreeNodeController"></div>
  </div>
</script>


