<md-content>
  <!-- Node Interactions -->
  <section>
    <md-subheader class="md-primary">Interactions</md-subheader>
    <div layout-padding>
      <div layout="row" layout-align="left center" layout-wrap>
        <md-button class="md-icon-button md-mini md-primary" ng-click="$ctrl.onSetFocus()" ng-disabled="$ctrl.isDisabled('setFocus')" >
          <md-tooltip>Focus selected nodes</md-tooltip>
          <md-icon>center_focus_strong</md-icon>
        </md-button>
        <md-button class="md-icon-button md-mini md-primary" ng-click="$ctrl.onRemoveSelectedNodes()" ng-disabled="$ctrl.isDisabled('removeNodes')">
          <md-tooltip>Remove selected nodes</md-tooltip>
          <md-icon>remove_circle_outline</md-icon>
        </md-button>
        <md-button class="md-icon-button md-mini md-primary"  ng-click="$ctrl.onReset()" ng-disabled="$ctrl.isDisabled('resetGraph')" >
          <md-tooltip>Reset graph. This will reset all changes.</md-tooltip>
          <md-icon>replay</md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="left center" layout-wrap>
        <md-slider class="md-primary" flex md-discrete ng-model="$ctrl.depth" step="1" min="0" max="10" aria-label="Show node neighborhood" ng-disabled="$ctrl.isDisabled('showNeighbors')">
        </md-slider>
        <md-button class="md-icon-button md-mini md-primary" ng-click="$ctrl.onShowNeighbours({depth: $ctrl.depth})" ng-disabled="$ctrl.isDisabled('showNeighbors')" >
          <md-tooltip>Expand node</md-tooltip>
          <md-icon>open_with</md-icon>
        </md-button>
      </div>
    </div>
  </section>
  <!-- Filters -->
  <section>
    <md-subheader class="md-primary">Filter</md-subheader>
    <md-list class="md-dense" >
      <md-list-item  class="md-no-proxy md-body-1">
        <p class="md-truncate"><span ng-if="$ctrl.isChecked()">Un-</span>Select All</p>
        <md-checkbox class="md-primary"
                     aria-label="Select All"
                     ng-checked="$ctrl.isChecked()"
                     md-indeterminate="$ctrl.isIndeterminate()"
                     ng-click="$ctrl.toggleAll()">
        </md-checkbox>
      </md-list-item>
      <md-list-item  class="md-no-proxy md-body-1" ng-repeat="f in $ctrl.filters">
        <md-button  class="options-button md-icon-button md-secondary"  ng-show="f.showOnOff" aria-label="Show case nodes" ng-click="$ctrl.onShowNodes({id: f.id})">
          <md-tooltip>Show case nodes</md-tooltip>
          <md-icon>visibility</md-icon>
        </md-button>
        <md-button  class="options-button md-icon-button md-secondary" ng-show="f.showOnOff" aria-label="Hide case nodes" ng-click="$ctrl.onRemoveNodes({id: f.id})">
          <md-tooltip>Hide case nodes</md-tooltip>
          <md-icon>visibility_off</md-icon>
        </md-button>
        <md-button  class="options-button md-icon-button md-secondary" aria-label="Pick a color" ng-click="$ctrl.showDialog($event, f.id)">
          <md-tooltip >Choose a color</md-tooltip>
          <md-icon ng-style="{'color': f.color}" >adjust</md-icon>
        </md-button>
        <md-checkbox class="md-primary md-secondary" ng-model="f.enabled" ng-change="$ctrl.onFilterChanged({id: f.id, enabled: f.enabled})">
          <md-tooltip>Set filter</md-tooltip>
        </md-checkbox>

        <p class="md-truncate">{{f.name}}</p>
      </md-list-item>
    </md-list>
  </section>
</md-content>

<!-- color picker dialog -->
<script type="text/ng-template" id="color.picker.dialog.html">
  <md-dialog  flex="50">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pick a color...</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content"  >
        <div layout="row" layout-wrap layout-align="center center">
          <md-button ng-repeat="color in palette" flex="5"
                     ng-style="{'background-color': color}" md-colors-watch="false"
                     ng-click="selectColor(color)" aria-label="color">
          </md-button>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</script>
