<div layout="column" ng-cloak layout-padding layout-fill >
  <h3>Profile: {{$ctrl.activeProfile.name}}</h3>
  <ontology-autocomplete
    items="$ctrl.classes"
    selected-item="$ctrl.selectedCaseClass"
    on-item-selected="$ctrl.caseSelected(item.id)"
    clear-on-select="'false'"
    label="'Case Class:'"></ontology-autocomplete>

  <ontology-autocomplete
    items="$ctrl.datatypeProperties"
    selected-item="$ctrl.selectedCaseNameProperty"
    on-item-selected="$ctrl.caseNameSelected(item.id)"
    clear-on-select="'false'"
    label="'Name Property:'"></ontology-autocomplete>

  <ontology-autocomplete
    items="$ctrl.objectProperties"
    selected-item="$ctrl.selectedCaseIndividualProperty"
    on-item-selected="$ctrl.casePropertySelected(item.id)"
    clear-on-select="'false'"
    label="'Property which links a Case Individual and an Individual:'"></ontology-autocomplete>

  <ontology-autocomplete
    items="$ctrl.objectProperties"
    selected-item="$ctrl.selectedIndividualCaseProperty"
    on-item-selected="$ctrl.caseInversePropertySelected(item.id)"
    clear-on-select="'false'"
    label="'Property which links an Individual and a Case Individual:'"></ontology-autocomplete>

  <div>
    {{$ctrl.symbolCount}} symbols are configured for this profile.
  </div>
  <md-button class="md-primary"  ng-click="$ctrl.changeSymbolSettings()" aria-label="Edit Symbol Settings" >Edit Symbol Settings</md-button>
</div>



