<!--<div ng-cloak layout="row" layout-fill>
  <md-content ng-cloak  flex  layout-padding>
    <md-input-container class="md-block">
      <label for="node-name">Individual</label>
      <ontology-autocomplete
        items="$ctrl.individuals"
        on-item-selected="$ctrl.itemSelected(item)"
        layout-fill></ontology-autocomplete>
    </md-input-container>


  </md-content>
</div>-->
<div flex layout-fill layout="column"  ng-cloak>
  <div flex layout="row">
    <div class="layout-padding" flex layout="column">
      <md-content ng-cloak  flex  layout-padding>
        <md-input-container class="md-block">
          <ontology-autocomplete
            items="$ctrl.individuals"
            on-item-selected="$ctrl.itemSelected(item)"
            clear-on-select="'false'"
            layout-fill></ontology-autocomplete>
        </md-input-container>
        <img class="thumb" src="$ctrl.image" ng-show="$ctrl.image">
      </md-content>
    </div>
    <div class="layout-padding" flex>
      <md-whiteframe id="dropZone" layout layout-align="center center">
        <span>Drop your file into this area...</span>
        <span>
          <span>...or</span>
          <md-button ng-click="$ctrl.showFileSelector($event)">click here</md-button>
          <span>...</span>
        </span>
        <input accept=".png" class="hidden" id="fileSelector" type="file"></input>
      </md-whiteframe>
    </div>
  </div>
</div>

