<md-fab-speed-dial class="md-fab md-fab-bottom-right md-scale" md-open="shell.fabOpen" md-direction="up">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab">
      <md-icon>menu</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini" ng-click="shell.sendEvent('case-save', $event)">
      <md-tooltip md-direction="left">Save</md-tooltip>
      <md-icon>save</md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini" ng-click="shell.sendEvent('case-back', $event)">
      <md-tooltip md-direction="left">Back</md-tooltip>
      <md-icon>undo</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
