<script type="text/ng-template" id="nodes_renderer2.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="cases-tree-collapse-link" ng-if="hasSubClasses(clazz)" data-nodrag ng-click="toggle(this)">
      <md-icon ng-if="!collapsed" class="material-icons md-light cases-tree-action">remove</md-icon>
      <md-icon ng-if="collapsed" class="material-icons md-light cases-tree-action">add</md-icon>
    </a>
    <md-icon ng-if="!hasSubClasses(clazz)" class="material-icons md-light cases-tree-action">do not disturb</md-icon>
    <a class="cases-tree-node-link" ng-click="add(clazz)">{{clazz.name}}</a>
  </div>
  <ol ui-tree-nodes="" ng-model="clazz.subClasses" ng-if="!collapsed">
    <li ng-repeat="clazz in clazz.subClasses" ui-tree-node  collapsed="true" ng-include="'nodes_renderer2.html'">
    </li>
  </ol>
</script>


<div  ng-cloak ng-init="ctl.initialize()" layout="column" layout-fill>
  <md-tabs flex layout="column" layout-fill>
    <md-tab flex layout="column" label="Case Information">
      <md-tab-content layout-fill>
        <div layout="column" >
          <md-input-container>
            <label for="case-identifier">Case Identifier</label>
            <input ng-readonly="!isEditable('identifier')" md-maxlength="30" md-minlength="5"  id="case-identifier" required md-no-asterisk  aria-label="Identifier" ng-model="data.case.identifier">
          </md-input-container>
          <md-input-container>
            <label for="case-name">Name</label>
            <input ng-readonly="!isEditable('name')" md-maxlength="30" md-minlength="5" required md-no-asterisk id="case-name" aria-label="Name" ng-model="data.case.name" >
          </md-input-container>
          <md-input-container>
            <label for="case-investigator">Investigator</label>
            <input ng-readonly="!isEditable('investigator')" md-maxlength="30" md-minlength="5" md-no-asterisk id="case-investigator" aria-label="Investigator" ng-model="data.case.investigator">
          </md-input-container>
          <md-input-container>
            <label for="case-description">Description</label>
            <textarea  ng-readonly="!isEditable('description')" md-maxlength="500" md-minlength="5" md-no-asterisk id="case-description" aria-label="Description" ng-model="data.case.description"></textarea>
          </md-input-container>

          <div ng-show="viewData.showFooter">
            <p>Created by {{data.case.createdBy}} on {{data.case.createdOn | date: "dd. MMM yyyy' at 'HH:mm "}}</p>
            <p>Last edited by {{data.case.lastEditedBy}} on {{data.case.lastEditedOn| date: "dd. MMM yyyy' at 'HH:mm "}}</p>
          </div>
        </div>
      </md-tab-content>
    </md-tab>
    <md-tab label="Entities" layout-fill>
      <md-tab-content flex  layout-fill>
        <md-sidenav class="md-sidenav-left md-whiteframe-8dp" md-component-id="sidebar-tree" layout="column">
          <div layout-align="space-between start" layout="row" >
            <h3>Classes</h3>
            <md-button class='md-icon-button ontology-sidebar-btn ontology-sidebar-left-btn-opened' ng-click="toggleSidebar()">
              <md-icon>chevron_left</md-icon>
            </md-button>
          </div>
          <div ui-tree="treeClasses"
               data-nodrop-enabled="true"
               data-drag-enabled="false"
               ng-controller="CasesTreeController">
            <ol ui-tree-nodes ng-model="data.classesTree">
              <li ng-repeat="clazz in data.classesTree" ui-tree-node collapsed="true" ng-include="'nodes_renderer2.html'"></li>
            </ol>
          </div>
        </md-sidenav>
        <div layout="row" layout-fill >
          <md-button class='md-icon-button ontology-sidebar-btn ontology-sidebar-btn-closed' ng-click="toggleSidebar()">
            <md-icon>chevron_right</md-icon>
          </md-button>
          <div id="ontology-graph" layout-fill></div>
        </div>
      </md-tab-content>
    </md-tab>
    <md-tab label="Optionen Graph" layout-fill>
      <md-tab-content layout-fill>
        <div layout="column" >
        
        <md-switch ng-model="data.cb2" aria-label="Switch 2" class="md-warn">
          <h3>Instanzknoten</h3>
        </md-switch>
        <div layout="row" >
          <label class="opt-graph-title" for="case-iksize">Größe:</label>
          <md-slider-container class="opt-graph-input">
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.iksize" min="3" max="30" aria-label="Größe" flex md-discrete ng-change="onSizeChange()"></md-slider>
            <md-input-container>
                <input flex type="number" ng-model="data.case.iksize" aria-label="green" readonly aria-controls="green-slider">
              </md-input-container>
            </md-slider-container>

          <label class="opt-graph-title" for="case-ikcolor">Farbe:</label>
          <md-input-container class="opt-graph-input">
            <input ng-readonly="!isEditable('color')" required md-no-asterisk id="case-ikcolor" aria-label="Farbe" type="color" ng-model="data.case.ikcolor" ng-change="onColorChange()">
          </md-input-container>

          <label class="opt-graph-title" for="case-ikform">Form:</label>
          <md-input-container class="opt-graph-input"> 
            <md-select ng-model="data.case.ikform" aria-label="Form" id="case-ikform" ng-readonly="!isEditable('form')" required class="md-underline" ng-change="onFormChange()">
              <md-option value="box">Box</md-option>
              <md-option value="circle">Circle</md-option>
              <md-option value="diamond">Diamond</md-option>
              <md-option value="dot">Dot</md-option>
              <md-option value="ellipse">Ellipse</md-option>
              <md-option value="star">Star</md-option>
              <md-option value="square">Square</md-option>
              <md-option value="triangle">Triangle</md-option>
            </md-select>
          </md-input-container>
          </div>
          <h3>Attributsknoten</h3>
          <div layout="row" >
          <label class="opt-graph-title" for="case-aksize">Größe:</label>
          <md-slider-container class="opt-graph-input">
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.aksize" aria-label="Größe" min="3" max="30" flex md-discrete ng-change="onSizeChange()"></md-slider>
            <md-input-container>
                <input flex type="number" ng-model="data.case.aksize" aria-label="green" readonly aria-controls="green-slider">
              </md-input-container>
            </md-slider-container>
          <label class="opt-graph-title" for="case-akcolor">Farbe:</label>
          <md-input-container class="opt-graph-input">
            <input ng-readonly="!isEditable('color')" required md-no-asterisk id="case-akcolor" aria-label="Farbe" type="color" ng-model="data.case.akcolor" ng-change="onColorChange()">
          </md-input-container>

          <label class="opt-graph-title" for="case-akform">Form:</label>
          <md-input-container class="opt-graph-input">
            <md-select ng-model="data.case.akform" aria-label="Form" id="case-akform" ng-readonly="!isEditable('form')" required class="md-underline" ng-change="onFormChange()">
              <md-option value="box">Box</md-option>
              <md-option value="circle">Circle</md-option>
              <md-option value="diamond">Diamond</md-option>
              <md-option value="dot">Dot</md-option>
              <md-option value="ellipse">Ellipse</md-option>
              <md-option value="star">Star</md-option>
              <md-option value="square">Square</md-option>
              <md-option value="triangle">Triangle</md-option>
            </md-select>
          </md-input-container>
          </div>

          <h3>Kanten</h3>
          <div layout="row" >
          <label class="opt-graph-title" for="case-ksize">Größe:</label>
          <md-slider-container class="opt-graph-input">
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.ksize" aria-label="Größe" min="1" max="20" flex md-discrete ng-change="onSizeChange()"></md-slider>
            <md-input-container>
                <input flex type="number" ng-model="data.case.ksize" aria-label="green" readonly aria-controls="green-slider">
              </md-input-container>
            </md-slider-container>

          <label class="opt-graph-title" for="case-kcolor">Farbe:</label>
          <md-input-container class="opt-graph-input">
            <input ng-readonly="!isEditable('color')" required md-no-asterisk id="case-kcolor" aria-label="Farbe" type="color" ng-model="data.case.kcolor" ng-change="onColorChange()">
          </md-input-container>
          <label class="opt-graph-title" for="case-kform">Form:</label>
          <md-input-container class="opt-graph-input">
            <md-select ng-model="data.case.kform" aria-label="Form" id="case-kform" ng-readonly="!isEditable('form')" required class="md-underline" ng-change="onFormChange()">
              <md-option value="continuous">Continuous</md-option>
              <md-option value="cubicBezier">CubicBezier</md-option>
              <md-option value="curvedCW">CurvedCW</md-option>
              <md-option value="curvedCCW">CurvedCCW</md-option>
              <md-option value="diagonalCross">DiagonalCross</md-option>
              <md-option value="discrete">Discrete</md-option>
              <md-option value="dynamic">Dynamic</md-option>
              <md-option value="horizontal">Horizontal</md-option>
              <md-option value="straightCross">StraightCross</md-option>
              <md-option value="vertical">Vertical</md-option>
            </md-select>
          </md-input-container>
          </div>
          <h3>Physikalische Kräfte</h3>
          <div layout="row">
          <div flex="50">
          <label class="opt-graph-title" for="case-physicsCG">Central Gravity:</label>
          <md-slider-container>
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.physicsCG" aria-label="Central Gravity" min="1" max="10" step="0.1" flex md-discrete ng-change="onPhysicChange()"></md-slider>
            <md-input-container>
                <input flex type="number" ng-model="data.case.physicsCG" aria-label="Central Gravity" readonly aria-controls="green-slider">
              </md-input-container>
            </md-slider-container>
            </div>
            <div flex="50">
            <label class="opt-graph-title" for="case-physicsSP">Spring Length:</label>
          <md-slider-container>
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.physicsSP" aria-label="Spring Length" min="0" max="1000" step="1" flex md-discrete ng-change="onPhysicChange()"></md-slider>
            <md-input-container>
                <input flex type="number" ng-model="data.case.physicsSP" aria-label="Spring Length" readonly aria-controls="green-slider">
              </md-input-container>
            </md-slider-container>
            </div>
            </div>
            <div layout="row">
            <div flex="50">
            <label class="opt-graph-title" for="case-physicsDamping">Damping:</label>
          <md-slider-container>
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.physicsDamping" aria-label="Damping" min="0" max="1" step="0.01" flex md-discrete ng-change="onPhysicChange()"></md-slider>
            <md-input-container>
                <input flex type="number" ng-model="data.case.physicsDamping" aria-label="Damping" readonly aria-controls="green-slider">
              </md-input-container>
            </md-slider-container>
          </div>
          <div flex="50">
            <label class="opt-graph-title" for="case-physicsAO">avoidOverlap:</label>
          <md-slider-container>
            <md-icon md-svg-icon="device:brightness-low"></md-icon>
            <md-slider ng-model="data.case.physicsAO" aria-label="avoidOverlap" min="0" max="1" step="0.01" flex md-discrete ng-change="onPhysicChange()"></md-slider>
            <md-input-container>
              <input flex type="number" ng-model="data.case.physicsAO" aria-label="avoidOverlap" readonly aria-controls="green-slider">
            </md-input-container>
           </md-slider-container>
           </div>
           </div>
          <div ng-show="viewData.showFooter">
            <p>Created by {{data.case.createdBy}} on {{data.case.createdOn | date: "dd. MMM yyyy' at 'HH:mm "}}</p>
            <p>Last edited by {{data.case.lastEditedBy}} on {{data.case.lastEditedOn| date: "dd. MMM yyyy' at 'HH:mm "}}</p>
          </div>
        </div>
      </md-tab-content>
    </md-tab>

  </md-tabs>
</div>





