<script type="text/ng-template" id="nodes_renderer2.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="cases-tree-collapse-link" ng-if="hasSubClasses(clazz)" data-nodrag ng-click="toggle(this)">
      <md-icon ng-if="!collapsed" class="material-icons md-light cases-tree-action">remove</md-icon>
      <md-icon ng-if="collapsed" class="material-icons md-light cases-tree-action">add</md-icon>
    </a>
    <md-icon ng-if="!hasSubClasses(clazz)" class="material-icons md-light cases-tree-action">do not disturb</md-icon>
    <a class="cases-tree-node-link" ng-click="add(clazz)">{{clazz.name}}</a>
  </div>
  <ol ui-tree-nodes="" ng-model="clazz.subClasses" ng-if="!collapsed">
    <li ng-repeat="clazz in clazz.subClasses" ui-tree-node  collapsed="true" ng-include="'nodes_renderer2.html'">
    </li>
  </ol>
</script>
<div  ng-cloak ng-init="ctl.initialize()" layout="column" layout-fill>
  <md-tabs flex layout="column" layout-fill>
    <md-tab flex layout="column" label="Case Information">
      <md-tab-content layout-fill>
        <div layout="column" >
          <md-input-container>
            <label for="case-identifier">Case Identifier</label>
            <input ng-readonly="!isEditable('identifier')" md-maxlength="30" md-minlength="5"  id="case-identifier" required md-no-asterisk  aria-label="Identifier" ng-model="data.case.identifier">
          </md-input-container>
          <md-input-container>
            <label for="case-name">Name</label>
            <input ng-readonly="!isEditable('name')" md-maxlength="30" md-minlength="5" required md-no-asterisk id="case-name" aria-label="Name" ng-model="data.case.name" >
          </md-input-container>
          <md-input-container>
            <label for="case-investigator">Investigator</label>
            <input ng-readonly="!isEditable('investigator')" md-maxlength="30" md-minlength="5" md-no-asterisk id="case-investigator" aria-label="Investigator" ng-model="data.case.investigator">
          </md-input-container>
          <md-input-container>
            <label for="case-description">Description</label>
            <textarea  ng-readonly="!isEditable('description')" md-maxlength="500" md-minlength="5" md-no-asterisk id="case-description" aria-label="Description" ng-model="data.case.description"></textarea>
          </md-input-container>
          <div ng-show="viewData.showFooter">
            <p>Created by {{data.case.createdBy}} on {{data.case.createdOn | date: "dd. MMM yyyy' at 'HH:mm "}}</p>
            <p>Last edited by {{data.case.lastEditedBy}} on {{data.case.lastEditedOn| date: "dd. MMM yyyy' at 'HH:mm "}}</p>
          </div>
        </div>
      </md-tab-content>
    </md-tab>
    <md-tab label="Entities" layout-fill>
      <md-tab-content flex  layout-fill>
        <md-sidenav class="md-sidenav-left md-whiteframe-8dp" md-component-id="sidebar-tree" layout="column">
          <div layout-align="space-between start" layout="row" >
            <h3>Classes</h3>
            <md-button class='md-icon-button ontology-sidebar-btn ontology-sidebar-left-btn-opened' ng-click="toggleSidebar()">
              <md-icon>chevron_left</md-icon>
            </md-button>
          </div>
          <div ui-tree="treeClasses"
            data-nodrop-enabled="true"
            data-drag-enabled="false"
            ng-controller="CasesTreeController">
            <ol ui-tree-nodes ng-model="data.classesTree">
              <li ng-repeat="clazz in data.classesTree" ui-tree-node collapsed="true" ng-include="'nodes_renderer2.html'"></li>
            </ol>
          </div>
        </md-sidenav>

        <md-sidenav class="md-sidenav-right md-whiteframe-8dp" md-component-id="sidebar-tree" layout="column">
          <div layout-align="space-between start" layout="row" >
            <h3>Classes</h3>
            <md-button class='md-icon-button ontology-sidebar-btn ontology-sidebar-right-btn-opened' ng-click="toggleSidebar()">
              <md-icon>chevron_left</md-icon>
            </md-button>
          </div>
          <div ui-tree="treeClasses"
            data-nodrop-enabled="true"
            data-drag-enabled="false"
            ng-controller="CasesTreeController">
            <ol ui-tree-nodes ng-model="data.classesTree">
              <li ng-repeat="clazz in data.classesTree" ui-tree-node collapsed="true" ng-include="'nodes_renderer2.html'"></li>
            </ol>
          </div>
        </md-sidenav>

        <md-sidenav class="md-sidenav-right md-whiteframe-8dp" md-component-id="right" layout="column" md-disable-backdrop md-whiteframe="4">
          <h3 class="h3_title_entities">Focus</h3>
          <hr style="width: 100%">
          <ul>
            <li>
              <p><b>Selected node:</b> {{selectedKnotenName}}</p>
            </li>
            <li>
              <p><b>Focused node:</b> {{focusedNode}}</p>
            </li>
            <li>

              <md-button class="md-raised-cases" name="{{selectedKnotenNameFull}}" ng-click="setFocus(this)">
              <i class="material-icons infoIcon">add_location</i>
              Set Focus
              </md-button>

            <div>
                <div class="nextLevelBtn">
                  <md-button class="md-raised-cases" ng-click="nextLevel(this)">
                  <i class="material-icons infoIcon">directions</i>
                  Next level
                </md-button>
              </div>
              <div class="nextLevelSlider">
                <md-slider-container class="opt-graph-input">
                <md-icon md-svg-icon="device:brightness-low"></md-icon>
                <md-slider min="1" max="3" aria-label="Größe" flex md-discrete ng-model="nextLevelNumber"></md-slider>
              </div>
            </div>

              <md-button class="md-raised-cases {{gradBtnHide}}" ng-click="clearFocus()">
              <i class="material-icons infoIcon">cancel</i>
              Clear focus
              </md-button>

              <md-switch ng-model="physicsOnOffData" layout-align="left center" aria-label="Switch 2" class="md-warn {{gradBtnHide}}" type="checkbox" ng-change="physicsOnOff()">
                  <h5>Physik</h5>
                </md-switch>

              <md-button class="md-raised-cases" ng-disabled="setFocusDisableFadeOut" ng-click="fadeOut(this)">
              <i class="material-icons infoIcon">visibility_off</i>
              Fade out
              </md-button>

              <hr style="text-align: left; width: 25%">

              <md-button class="md-raised-cases" ng-click="resetGraph()">
              <i class="material-icons infoIcon">replay</i>
              Reset Graph
              </md-button>
            </li>
          </ul>
          <h3 class="h3_title_entities">Edit individual</h3>
          <hr style="width: 100%">
         <ul>
            <li>
              <md-button class="md-raised-cases" ng-click="renameNode($event)">
                <i class="material-icons infoIcon">mode_edit</i>
                Rename node
              </md-button>
              <md-button class="md-raised-cases" ng-click="changeTypeForNode()">
                <i class="material-icons infoIcon">storage</i>
                Change Type
              </md-button>
              <md-button class="md-raised-cases" ng-click="editEdges()">
                <i class="material-icons infoIcon">trending_flat</i>
                Edit edges
              </md-button>
              <md-button class="md-raised-cases" ng-click="deleteNode()">
                <i class="material-icons infoIcon">delete</i>
                Delete node
              </md-button>
            </li>
          </ul>
        </md-sidenav>

        <div layout="row" layout-fill >
          <md-button class='md-icon-button ontology-sidebar-btn ontology-sidebar-btn-closed' ng-click="toggleSidebar()">
            <md-icon>chevron_right</md-icon>
          </md-button>
          <div id="ontology-graph" layout-fill></div>
        </div>
      </md-tab-content>
    </md-tab>
    <md-tab label="Optionen Graph" layout-fill>
      <md-tab-content layout-fill>
        <div layout="row">
          <div layout="column">
            <ul class="menuUL">
              <li class="menuLI"><a ng-class="showInstanzknotenActive" class="iknoten" ng-click="isShowContent('Instanzknoten')">Instanzknoten</a></li>
              <li class="menuLI"><a ng-class="showAttributsknotenActive" class="aknoten" ng-click="isShowContent('Attributsknoten')">Attributsknoten</a></li>
              <li class="menuLI"><a ng-class="showKantenActive" class="kanten" ng-click="isShowContent('Kanten')">Kanten</a></li>
              <li class="menuLI"><a ng-class="showPhysikalischeActive" class="physik" ng-click="isShowContent('Physikalische')">Physikalische Kräfte</a></li>
            </ul>
          </div>
        </div>
        <div layout="row">
          <ul class="graphCol">
            <li class="instanzCol" ng-show='showInstanzknoten'>
              <h3 class="h3_title">Instanzknoten</h3>
              <div layout="column">
                <label class="opt-graph-title" for="case-iksize">Größe:</label>
                <md-slider-container class="opt-graph-input">
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.iksize" min="3" max="30" aria-label="Größe" flex md-discrete ng-disabled="data.autosetup.instanzKnoten" ng-change="onInstanzKnotenChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.iksize" aria-label="green" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-ikcolor">Farbe (Füllen):</label>
                <md-input-container class="opt-graph-input">
                  <input required md-no-asterisk id="case-ikcolor" aria-label="Farbe" type="color" ng-disabled="data.autosetup.instanzKnoten" ng-model="data.case.ikcolor" ng-change="onInstanzKnotenChange()">
                </md-input-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-ikcolorFrame">Farbe (Umrandung):</label>
                <md-input-container class="opt-graph-input">
                  <input required md-no-asterisk id="case-ikcolorFrame" aria-label="Farbe" type="color" ng-disabled="data.autosetup.instanzKnoten" ng-model="data.case.ikcolorFrame" ng-change="onInstanzKnotenChange()">
                </md-input-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-ikform">Form:</label>
                <md-input-container class="opt-graph-input cbTextCenter" ng-disabled="data.autosetup.instanzKnoten">
                  <md-select ng-model="data.case.ikform" aria-label="Form" id="case-ikform"  required ng-disabled="data.autosetup.instanzKnoten" class="md-underline" ng-change="onInstanzKnotenChange()">
                    <md-option value="box">Box</md-option>
                    <md-option value="circle">Circle</md-option>
                    <md-option value="diamond">Diamond</md-option>
                    <md-option value="dot">Dot</md-option>
                    <md-option value="ellipse">Ellipse</md-option>
                    <md-option value="star">Star</md-option>
                    <md-option value="square">Square</md-option>
                    <md-option value="triangle">Triangle</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column" class="switchPos">
                <md-switch ng-model="data.autosetup.instanzKnoten" layout-align="center center" aria-label="Switch 2" class="md-warn" type="checkbox" ng-change="onInstanzKnotenChange()">
                  <h5>Instanzknoten automatisch Einstellungen</h5>
                </md-switch>
              </div>
            </li>
            <li class="attributsCol" ng-show='showAttributsknoten'>
              <h3 class="h3_title">Attributsknoten</h3>
              <div layout="column">
                <label class="opt-graph-title" for="case-aksize">Größe:</label>
                <md-slider-container class="opt-graph-input">
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.aksize" aria-label="Größe" ng-disabled="data.autosetup.attributsKnoten" min="3" max="30" flex md-discrete ng-change="onAttributsKnotenChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.aksize" aria-label="green" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-akcolor">Farbe (Füllen):</label>
                <md-input-container class="opt-graph-input">
                  <input ng-disabled="data.autosetup.attributsKnoten" required md-no-asterisk id="case-akcolor" aria-label="Farbe" type="color" ng-model="data.case.akcolor" ng-change="onAttributsKnotenChange()">
                </md-input-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-akcolorFrame">Farbe (Umrandung):</label>
                <md-input-container class="opt-graph-input">
                  <input ng-disabled="data.autosetup.attributsKnoten" required md-no-asterisk id="case-akcolorFrame" aria-label="Farbe" type="color" ng-model="data.case.akcolorFrame" ng-change="onAttributsKnotenChange()">
                </md-input-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-akform">Form:</label>
                <md-input-container class="opt-graph-input cbTextCenter">
                  <md-select ng-model="data.case.akform" aria-label="Form" id="case-akform" ng-disabled="data.autosetup.attributsKnoten" required class="md-underline" ng-change="onAttributsKnotenChange()">
                    <md-option value="box">Box</md-option>
                    <md-option value="circle">Circle</md-option>
                    <md-option value="diamond">Diamond</md-option>
                    <md-option value="dot">Dot</md-option>
                    <md-option value="ellipse">Ellipse</md-option>
                    <md-option value="star">Star</md-option>
                    <md-option value="square">Square</md-option>
                    <md-option value="triangle">Triangle</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column" class="switchPos">
                <md-switch ng-model="data.autosetup.attributsKnoten" layout-align="center center" aria-label="Switch 2" class="md-warn" ng-change="onAttributsKnotenChange()">
                  <h5>Attributsknoten automatisch Einstellungen</h5>
                </md-switch>
              </div>
            </li>
            <li class="kantenCol" ng-show='showKanten'>
              <h3 class="h3_title">Kanten</h3>
              <div layout="column">
                <label class="opt-graph-title" for="case-ksize">Größe:</label>
                <md-slider-container class="opt-graph-input">
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.ksize" aria-label="Größe" ng-disabled="data.autosetup.kanten" min="1" max="20" flex md-discrete ng-change="onKantenChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.ksize" aria-label="green" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-kcolor">Farbe (Füllen):</label>
                <md-input-container class="opt-graph-input">
                  <input ng-disabled="data.autosetup.kanten" required md-no-asterisk id="case-kcolor" aria-label="Farbe" type="color" ng-model="data.case.kcolor" ng-change="onKantenChange()">
                </md-input-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title" for="case-kform">Form:</label>
                <md-input-container class="opt-graph-input cbTextCenter">
                  <md-select ng-model="data.case.kform" aria-label="Form" id="case-kform" ng-disabled="data.autosetup.kanten" required class="md-underline" ng-change="onKantenChange()">
                    <md-option value="continuous">Continuous</md-option>
                    <md-option value="cubicBezier">CubicBezier</md-option>
                    <md-option value="curvedCW">CurvedCW</md-option>
                    <md-option value="curvedCCW">CurvedCCW</md-option>
                    <md-option value="diagonalCross">DiagonalCross</md-option>
                    <md-option value="discrete">Discrete</md-option>
                    <md-option value="dynamic">Dynamic</md-option>
                    <md-option value="horizontal">Horizontal</md-option>
                    <md-option value="straightCross">StraightCross</md-option>
                    <md-option value="vertical">Vertical</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="column" class="switchPos">
                <md-switch ng-model="data.autosetup.kanten" layout-align="center center" aria-label="Switch 2" class="md-warn" ng-change="onKantenChange()">
                  <h5>Kanten automatisch Einstellungen</h5>
                </md-switch>
              </div>
            </li>
            <li class="physikCol" ng-show='showPhysikalische'>
              <h3 class="h3_title">Physik</h3>
              <div layout="column">
                <label class="opt-graph-title infoIcon">
                  Zentrale Schwerkraft:
                  <md-tooltip class="ttFont">
                    There is a central gravity attractor to pull the entire network back to the center.
                  </md-tooltip>
                  <i class="material-icons infoIcon">info_outline</i>
                </label>
                <md-slider-container>
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.physicsCG" aria-label="Central Gravity" ng-disabled="data.autosetup.physik" min="1" max="10" step="0.1" flex md-discrete ng-change="onPhysicChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.physicsCG" aria-label="Central Gravity" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title infoIcon">
                  Spring Length:
                  <md-tooltip class="ttFont">
                    The edges are modelled as springs. This springLength here is the the rest length of the spring.
                  </md-tooltip>
                  <i class="material-icons infoIcon">info_outline</i>
                </label>
                <md-slider-container>
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.physicsSP" aria-label="Spring Length" ng-disabled="data.autosetup.physik" min="0" max="1000" step="1" flex md-discrete ng-change="onPhysicChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.physicsSP" aria-label="Spring Length" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title infoIcon">
                  Dämpfung:
                  <md-tooltip class="ttFont">
                    Accepted range: [0 .. 1]. The damping factor is how much of the velocity from the previous physics simulation iteration carries over to the next iteration.
                  </md-tooltip>
                  <i class="material-icons infoIcon">info_outline</i>
                </label>
                <md-slider-container>
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.physicsDamping" aria-label="Damping" ng-disabled="data.autosetup.physik" min="0" max="1" step="0.01" flex md-discrete ng-change="onPhysicChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.physicsDamping" aria-label="Damping" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column">
                <label class="opt-graph-title infoIcon">
                  Vermeiden Sie Überschneidungen:
                  <md-tooltip class="ttFont">
                    Accepted range: [0 .. 1]. When larger than 0, the size of the node is taken into account. The distance will be calculated from the radius of the encompassing circle of the node for both the gravity model. Value 1 is maximum overlap avoidance.
                  </md-tooltip>
                  <i class="material-icons infoIcon">info_outline</i>
                </label>
                <md-slider-container>
                  <md-icon md-svg-icon="device:brightness-low"></md-icon>
                  <md-slider ng-model="data.case.physicsAO" aria-label="avoidOverlap" ng-disabled="data.autosetup.physik" min="0" max="1" step="0.01" flex md-discrete ng-change="onPhysicChange()"></md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="data.case.physicsAO" aria-label="avoidOverlap" readonly aria-controls="green-slider">
                  </md-input-container>
                </md-slider-container>
              </div>
              <div layout="column" class="switchPos">
                <md-switch ng-model="data.autosetup.physik" layout-align="center center" aria-label="Switch 2" class="md-warn" ng-change="onPhysicChange()">
                  <h5>Physikalische Kräfte automatisch Einstellungen</h5>
                </md-switch>
              </div>
            </li>
          </ul>
        </div>
        <!-- 2. row end-->
        <div ng-show="viewData.showFooter">
          <p>Created by {{data.case.createdBy}} on {{data.case.createdOn | date: "dd. MMM yyyy' at 'HH:mm "}}</p>
          <p>Last edited by {{data.case.lastEditedBy}} on {{data.case.lastEditedOn| date: "dd. MMM yyyy' at 'HH:mm "}}</p>
        </div>
      </md-tab-content>
    </md-tab>
  </md-tabs>
</div>
