<div flex  layout="column" >
    <md-button class="md-primary" ng-click="$ctrl.newCase()">
      <md-icon>create_new_folder</md-icon>
      New case
    </md-button>

    <div layout="row">
      <md-switch id="open-closed-switch" class="md-primary" aria-label="Show case with status" ng-model="$ctrl.showCaseStatus" ng-true-value="'open'" ng-false-value="'closed'" ng-change="$ctrl.filter()">
        Show {{$ctrl.showCaseStatus}} cases
      </md-switch>
      <md-switch class="md-primary" aria-label="Show cases created by" ng-model="$ctrl.showCaseCreator" ng-true-value="'own'" ng-false-value="'all'" ng-change="$ctrl.filter()">
        Show {{$ctrl.showCaseCreator}} cases
      </md-switch>
    </div>

    <div ng-repeat="case in $ctrl.filteredCases" layout="row" layout-padding>
      <md-button class="md-icon-button md-primary" ng-click="openCase(case.identifier)" >
        <md-icon>folder_shared</md-icon>
      </md-button>
      <!--<md-button class="md-icon-button md-default" ng-click="openCase(case.id)" ng-show="case.status === 'closed'">
        <md-icon>folder_shared</md-icon>
      </md-button>-->
      <div flex="30">{{case.name}}</div>
      <div hide-xs>Created by {{case.createdBy}}, last edited on {{case.lastEditedOn| date: "dd. MMM yyyy' at 'HH:mm "}}</div>
    </div>
</div>
