<div  ng-cloak ng-init="ctl.initialize()" layout="column" layout-fill>
  <md-tabs md-align-tabs="top" md-dynamic-height>
    <md-tab id="tab1">
      <md-tab-label>Case Information</md-tab-label>
      <md-tab-body>

        <div layout="column" >
          <md-input-container>
            <label for="case-id">Case Identifier</label>
            <input ng-readonly="!ctl.isEditable('id')" md-maxlength="30" md-minlength="5"  id="case-id" required md-no-asterisk  aria-label="Identifier" ng-model="data.case._id">
          </md-input-container>
          <md-input-container>
            <label for="case-name">Name</label>
            <input ng-readonly="!ctl.isEditable('name')" md-maxlength="30" md-minlength="5" required md-no-asterisk id="case-name" aria-label="Name" ng-model="data.case.name">
          </md-input-container>
          <md-input-container>
            <label for="case-investigator">Investigator</label>
            <input ng-readonly="!ctl.isEditable('investigator')" md-maxlength="30" md-minlength="5" md-no-asterisk id="case-investigator" aria-label="Investigator" ng-model="data.case.investigator">
          </md-input-container>
          <md-input-container>
            <label for="case-description">Description</label>
            <textarea  ng-readonly="!ctl.isEditable('description')" md-maxlength="500" md-minlength="5" md-no-asterisk id="case-description" aria-label="Description" ng-model="data.case.description"></textarea>
          </md-input-container>

          <div>
            Created by {{data.case.creator}} on {{data.case.creationDate | date: "dd. MMM yyyy' at 'HH:mm "}}
          </div>
          Last edited by {{data.case.lastEditedBy}} on {{data.case.lastEditedDate| date: "dd. MMM yyyy' at 'HH:mm "}}
          <div>

          </div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2" >
      <md-tab-label>Entities</md-tab-label>
      <md-tab-body>
        <div layout="row" layout-fill>
          <div flex="20" layout="column" layout-fill>
            <md-button class="md-flat" ng-click="addInstance(clazz)" ng-repeat="clazz in data.classesTree">
              {{clazz.name}}
            </md-button>
          </div>
          <div id="ontology-graph"></div>
        </div>

      </md-tab-body>
    </md-tab>
  </md-tabs>


</div>
