<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- pdf.js styles -->
		<link rel="stylesheet" href="../node_modules/pdfjs-dist/web/pdf_viewer.css"/>
    <link rel="stylesheet" href="../css/pdfanalyzer.css"/>
	</head>
	<body tabindex="1">

		<div id="pageContainer" class="pdfPage"></div>

		<!-- pdf.js modules -->
		<script type="text/javascript" src="../node_modules/pdfjs-dist/build/pdf.combined.js"></script>        
		<script type="text/javascript" src="../node_modules/pdfjs-dist/web/pdf_viewer.js"></script>

  </body>
</html>
